<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Application</title>
</head>
<body>
  <h1>ALL THA INFO</h1>
  <ul>
    <h2><%= env["REQUEST_METHOD"] %> </h2>
    <h2><%= env["SERVER_PORT"] %> </h2>
    <h2><html></h2>
  </ul>
  <h1><a href='/'>Are you lost?</a></h1>
</body>
</html>
